<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--<connectionStrings>
    <add name="gia" providerName="System.Data.SqlClient" connectionString="Data Source=10.0.18.3;Database=erbd_gia_reg_17_70;User Id=ra;Password=Njkmrjcdjb;"/>
    <add name="gia" providerName="System.Data.SqlClient" connectionString="Data Source=ALMHOME;Database=gia_2017bd;User Id=sa;Password=Njkmrjcdjb;"/>
  </connectionStrings>-->
</configuration>