<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="log_gi" xsi:type="File"
        layout="${longdate} ${uppercase:${level}} ${message}"
        fileName="${specialfolder:folder=LocalApplicationData}/ФГБУ_'ФЦТ'/logs/gia-9-log_${shortdate}.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="log_gi" />
  </rules>
</nlog>