<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="log_gi" xsi:type="File"
        layout="${longdate}: [${level}] ${message}"
        fileName="${basedir}/logs/gia-9-log_${longdate}.txt"
        archiveAboveSize="8388080"
        archiveFileName="${basedir}/logs/gi.archive.{#}.txt"
        archiveNumbering="Sequence"
        maxArchiveFiles="15"
        concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="log_gi" />
  </rules>
</nlog>